@media screen and (-webkit-min-device-pixel-ratio:2),screen and (min-resolution:2dppx) {
    body {
        -moz-osx-font-smoothing:grayscale;
        -webkit-font-smoothing:antialiased;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}

.card-image {
    width: 160px;
    height: 160px;
}

.card-image.card-image--large {
    width: 160px;
    height: auto;
}
